 {% extends "base.html" %}
 {% load custom %}
 {% load media %}
 
 {% block content %}
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="/category/{{ breadcrumb.id }}">{{ breadcrumb.title }}</a> <span class="divider">/</span></li>
        {% endfor %}
    </ul>
    {% if product %}
         <div class="container-fluid">
            <div class="row-fluid">
                {% if product.description %}
<!--                 <div class="thumbnail_img span4" style="background-image:url({{ product.image }})"></div> -->
                    <img class="span4" src="{{ product.image }}" height="{{ product.height }}" width="{{ product.width }}" />
                {% endif %}
                <div class="span8">
                    <table class="table table-condensed table-bordered">
                        {% if product.description %}
                            <tr class="info">
                                <td colspan="2">
                                    <strong>{{ product.description }}</strong>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Код товара:</td>
                            <td>
                                <strong>{{ product.id }}</strong>
                            </td>
                        </tr>
                        {% if product.brand_title %}
                            <tr>
                                <td>Производитель:</td>
                                <td>
                                    {% if product.url %}
                                        <a target="_blank" href="{{ product.url }}"><strong>{{ product.brand_title }}</strong></a>
                                    {% else %}
                                        <strong>{{ product.brand }}</strong>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if product.garant %}
                            <tr>
                                <td>Гарантия:</td>
                                <td>
                                    {{ product.garant }} мес.
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Цена:</td>
                            <td>
                                <strong><p class="text-info">{{ product.price|multiply:paytype.rate_usd }} грн.</p></strong>
                            </td>
                        </tr>
                        <tr>
                            <td>Статус:</td>
                            <td>
                                <p class="text-info">{{ product.status }}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% if product.features %}
            <div class="container-fluid">
                <table class="table table-condensed table-bordered table-striped" >
                    {% autoescape off %}
                        {{ product.features }}
                    {% endautoescape %}
                </table>
            </div>
        {% endif %}
    {% else %}
        <p class="text-error">Продукт не найден</p>
    {% endif %}
 {% endblock %}
 
 {% block sidemenu %}
    {% autoescape off %}
        {{ sidemenu }}
    {% endautoescape %}
{% endblock %}
