{% extends "base.html" %}
{% load custom %}
 
{% block content %}    
    {% if products.object_list|length %}
        <table class="table table-striped table-hover table-bordered">
             <thead>
                <tr>
                    <th></th>
                    <th>Код</th>
                    <th>Краткое описание</th>
                    <th>Цена</th>
                    <th>В наличии</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products.object_list %}
                <tr>
                    <td><img src="{{ product.image }}" height="{{ product.height }}" width="{{ product.width }}" /></td>
                    <td>{{ product.id }}</td>
                    <td><a href="/product/{{ product.id }}">{% firstof product.new_description  product.description %}</a></td>
                    <td class="text-success">{{ product.price|multiply:paytype.rate_usd }} грн.</td>
                    <td>{{ product.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <!-- Pagination  -->
        <div class="pagination pagination-centered pagination-small">
            <ul>
                {% if products.has_previous %}
                    <li><a href= "/category/{{ id }}/{{ products.previous_page_number }}"><<</a></li>
                {% endif %}
                
                {% if first %}
                    <li><a href="/category/{{ id }}/{{ first }}">{{ first }}</a></li>
                    <li class="disabled"><a href="#">...</a></li>
                {% endif %}
                    
                {% for page in range %}
                    {% ifequal page products.number %}
                        <li class="active"><a href="/category/{{ id }}/{{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/category/{{ id }}/{{ page }}">{{ page }}</a></li>
                    {% endifequal %}
                {% endfor %}
                
                {% if last %}
                    <li class="disabled"><a href="#">...</a></li>
                    <li><a href="/category/{{ id }}/{{ last }}">{{ last }}</a></li>
                {% endif %}
                
                {% if products.has_next %}
                    <li><a href="/category/{{ id }}/{{ products.next_page_number }}">>></a></li>
                {% endif %}  
            </ul>
        </div>
    {% else %}
        <p class="text-error no_match">По данному запросу ничего не найдено</p>
    {% endif %}
    
{% endblock %}