<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>CompuLab Store</title>
        <link rel="stylesheet" href="/media/main.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css" type="text/css" media="all" />
        <script type="text/javascript" src="/media/jquery.min.js"></script>
        <script type="text/javascript" src="/media/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            Internal server error occured. Our web department has been notified and is already taking care of it.
        </div>
    </body>
</html>