<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Linet Shop</title>
        <link rel="stylesheet" href="/media/main.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/media/bootstrap/css/bootstrap.min.css" type="text/css" media="all" />
        <script type="text/javascript" src="/media/jquery.min.js"></script>
        <script type="text/javascript" src="/media/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <h1 class="text_blue">500 Error</h1>
            <h5>Internal server error occured</h5>
            <p>Великодушно просим прощения, но в данный момент из-за технических неполадок с нашей стороны мы не можем отобразить данную страницу.</p>
            <p>Вы можете попробовать позже, возможно мы сейчас пытаемся устранить проблему.</p>
            <p>Если страница недоступна продолжительное время, вы можете обратиться в нашу службу поддержки.</p>
        </div>
    </body>
</html>